@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Kumbh+Sans&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6f6;
}

.__grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "aside main";
}

aside {
  background-color: #8257e5;
  color: #fff;
  margin-left: 1.6em;
  grid-area: aside;
  padding: 3em;
}

#profile-pic {
  width: 14em;
  text-align: center;
  border: #fff solid 0.2em;
  border-radius: 50%;
  box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.2);
  margin: 2em 3em;
}

@media only screen and (max-width: 760px) {
  .__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "aside";
  }

  aside {
    margin-left: 0;
  }
}

@media only screen and (max-width: 830px) {
  aside {
    margin-left: 0;
    padding: 1.7em;
  }
}

section {
  padding: 1.1em;
}

.title-sidebar {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

main {
  grid-area: main;
  padding: 3em;
}

.list-sidebar {
  list-style: none;
}

.list-sidebar > li {
  color: #fff;
}

ul {
  padding-left: 1.2em;
}

li,
h3 {
  color: #444440;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 0.5em;
}

section > div {
  padding: 0 1em 1em 0;
}

p,
.section-list {
  font-weight: 300;
  font-size: 1.2rem;
  color: #444440;
}

.title {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6734df;
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #9c7bea;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f8f7f1e8;
  text-decoration: underline;
}

a[href^="http"]::after,
a[href^="mailto"]::after {
  font-family: "Font Awesome 6 Free";
  content: " \f35d";
  font-weight: 900;
  font-size: 0.7em;
}

.fa-solid,
.fa-brands {
  padding: 0.6em;
}

.fa-arrow-up-right-from-square {
  font-size: 0.6em;
}

::-webkit-scrollbar {
  width: 0.95em;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #8257e5;
  border: 0.2em solid #f6f6f6;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c7bea;
}
